<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajes Centrados</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #FAFAFA;
        }

        .messages {
            text-align: center;
        }

        .message {
            margin: 10px 0;
            font-size: 24px;
        }
    </style>
</head>

<body>
    <div class="messages">
        <div class="message">¡Hola, mundo!</div>
        <div class="message">¡Este sitio ha sido visitado {{data.count}} {{data.label}}!</div>
    </div>
</body>

</html>